<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"/>
	
	<script type="text/javascript">
		document.querySelector('#button').addEventListener("click",function(){
			fetch("db/1")
				.then(response => response.json())
				.then(function(myJson){
					var textnode = document.createTextNode(myJson.array);
					document.querySelector("body").append(textnode);
				});
			});
	</script>
</head>
<body>


<div class="container">
  <h1>Database Output</h1>
  <ul th:each="record : ${records}">
    <li th:text="${record}"/>
  </ul>
</div>

<div class="container">
	<button id="button">klik hier pls</button>
	
</body>
</html>